/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

/*--------------------TIMER---------------------------*/

.timer{
  display: flex;
  gap: 5px;
  text-align: center;
  margin-top: 20px;
}

.field{
  display: flex;
  flex-direction: column;
    text-align: center;
}
